*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 1440px;
    height: auto;
    background-color: aqua;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    max-width: 172px;
    height: auto;
}    

.header